*.log
/temp.gignorxt[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D*[C[C[C[C[C[C[C[C[C[C[C[C[C[A[A[A[A[B[B[B[B
[A[C.gitignore.txt
myapp.log.txt
*.log[D[D[D[Dmyapp.log.txt
/temp
.gitignore.txt
